<template>
  <div>
    <v-container fluid style="width: 95%">
      <v-breadcrumbs :items="breadcrumbItems"></v-breadcrumbs>
      <h1>{{ monthName }} {{ year }}</h1>
      <v-row>
        <v-col cols="6">
          <v-btn @click="incrementMonth(-1)" class="ma-2" color="blue" dark>
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="6" class="text-right">
          <v-btn @click="incrementMonth(1)" class="ma-2" color="blue" dark>
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <month-week
        class="month-week"
        v-for="(week, i) in weeks"
        :key="i"
        :startDate="weeks[i][1]"
        :endDate="weeks[i][7]"
        :agendaId="$route.params.id"
      />
    </v-container>
  </div>
</template>

<script>
import MonthWeek from '~/components/MonthWeek.vue';

export default {
  components: {
    MonthWeek,
  },
  data() {
    return {
      weeks: [],
      monthName: '',
      breadcrumbItems: [],
    };
  },
  created() {
    this.getWeeks();
    this.getMonthName();
    this.iniBreadcrumb();
  },
  computed: {
    year() {
      const date = this.$route.params.date;
      return date.split('-')[0];
    },
  },
  methods: {
    iniBreadcrumb() {
      const year = this.$route.params.date.split('-')[0];
      this.breadcrumbItems[0] = {
        text: year,
        disabled: false,
        href: `/agendas/${this.$route.params.id}/years/${this.$route.params.date}`,
      };
      this.breadcrumbItems[1] = {
        text: this.monthName,
        disabled: true,
        href: `/agendas/${this.$route.params.id}/months/${this.$route.params.date}`,
      };
    },
    getMonthName() {
      const date = new Date(this.$route.params.date);
      const month = this.getMonth(date);
      switch (month) {
        case 1:
          this.monthName = 'Janvier';
          break;
        case 2:
          this.monthName = 'Février';
          break;
        case 3:
          this.monthName = 'Mars';
          break;
        case 4:
          this.monthName = 'Avril';
          break;
        case 5:
          this.monthName = 'Mai';
          break;
        case 6:
          this.monthName = 'Juin';
          break;
        case 7:
          this.monthName = 'Juillet';
          break;
        case 8:
          this.monthName = 'Août';
          break;
        case 9:
          this.monthName = 'Septembre';
          break;
        case 10:
          this.monthName = 'Octobre';
          break;
        case 11:
          this.monthName = 'Novembre';
          break;
        case 12:
          this.monthName = 'Décembre';
          break;
      }
    },
    getWeeks() {
      Date.prototype.addDays = function (days) {
        const date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
      };

      const weeks = [];
      const date = new Date(this.$route.params.date);
      const month = this.getMonth(date);
      let iteratedDate = date;
      let week = this.getWeek(date);
      while (this.getMonth(new Date(week[1])) == month) {
        const tempiteratedDate = iteratedDate.addDays(-7);
        const iteratedWeek = this.getWeek(tempiteratedDate);
        if (this.getMonth(new Date(iteratedWeek[7])) == month) {
          week = iteratedWeek;
          iteratedDate = tempiteratedDate;
        } else {
          break;
        }
      }
      while (
        this.getMonth(new Date(week[1])) == month ||
        this.getMonth(new Date(week[7])) == month
      ) {
        weeks.push(week);
        iteratedDate = iteratedDate.addDays(7);
        console.log(iteratedDate);
        week = this.getWeek(iteratedDate);
        console.log(week);
      }
      this.weeks = weeks;
      console.log(this.weeks);
    },
    getWeek(date) {
      //const date = new Date(this.$route.params.date);
      const weekDates = [];

      let number = date.getDay();
      if (number == 0) {
        number = 7;
      }

      weekDates[number] = date.toISOString().slice(0, 10);
      if (number > 1) {
        for (let i = number - 1; i >= 1; --i) {
          weekDates[i] = date
            .addDays(i - number)
            .toISOString()
            .slice(0, 10);
        }
      }

      for (let i = number + 1; i < 8; ++i) {
        weekDates[i] = date
          .addDays(i - number)
          .toISOString()
          .slice(0, 10);
      }
      return weekDates;
    },
    getMonth(monthDate) {
      /*console.log(monthDate);
      return parseInt(monthDate.toISOString().slice(0, 10).split('-')[1]);*/
      return monthDate.getMonth() + 1;
    },
    incrementMonth(amount) {
      const date = this.$route.params.date;
      const dateArray = date.split('-');
      let year = parseInt(dateArray[0]);
      let monthInt = parseInt(dateArray[1]) + amount;
      if (monthInt > 12) {
        monthInt = 1;
        year++;
      } else if (monthInt < 1) {
        monthInt = 12;
        year--;
      }
      this.$router.push(`${year}-${monthInt}-01`);
    },
  },
};
</script>

<style>
.month-week {
  margin: 15px;
}
</style>
