<template>
  <div>
    <v-container fluid style="max-width: 800px">
      <v-row justify="center" align="center">
        <v-col cols="12" sm="6" md="4">
          <v-avatar size="150">
            <img alt="aucune image" :src="agendaEvent.eveImgName" />
          </v-avatar>
        </v-col>
        <v-col cols="12" sm="6" md="8">
          <p class="title">Nom</p>
          <p>
            {{ agendaEvent.eveName }}
          </p>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <p class="title">Date de début</p>
          <p>{{ agendaEvent.eveDate }}</p>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <p class="title">Heure de début</p>
          <p>{{ agendaEvent.eveStartTime }}</p>
        </v-col>
        <v-col cols="12" sm="6" md="4">
          <p class="title">Heure de Fin</p>
          <p>{{ agendaEvent.eveEndTime }}</p>
        </v-col>
        <v-col cols="12">
          <p class="title">Description</p>
          <p>{{ agendaEvent.eveDescription }}</p>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      agendaEvent: '',
    };
  },
  created() {
    this.getEvent();
  },
  computed: {},
  methods: {
    async getEvent() {
      const eventId = this.$route.params.event;
      const agendaId = this.$route.params.id;
      const token = localStorage.getItem('user-token');

      const response = await this.$axios.get(
        `/events/${agendaId}/event/${eventId}`,
        {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        }
      );
      this.agendaEvent = response.data.data;
    },
  },
};
</script>

<style>
.title {
  text-decoration: underline;
}
</style>
