<template>
  <div>
    <h1>Mes agendas</h1>
    <agenda-card
      v-for="(agenda, index) in agendas"
      :key="agenda.id"
      :agenda="agenda"
      :owner="agendasOwners[index]"
    />
  </div>
</template>

<script>
import AgendaCard from './AgendaCard.vue';

export default {
  components: {
    AgendaCard,
  },
  data() {
    return {
      agendas: '',
      agendasOwners: '',
    };
  },
  async created() {
    await this.fetchAgendas();
  },
  methods: {
    async fetchAgendas() {
      const token = localStorage.getItem('user-token');

      const response = await this.$axios.get('/agendas', {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      });
      this.agendas = response.data.agendas;
      this.agendasOwners = response.data.owners;
    },
  },
};
</script>
