<template>
  <v-card max-width="500" elevation="5">
    <v-card-title>{{ agenda.ageName }}</v-card-title>
    <v-card-text>
      <div>Agenda de {{ owner.useName }} {{ owner.useSurname }}</div>
    </v-card-text>
    <v-card-actions>
      <v-btn color="deep-purple lighten-2" text @click="viewAgenda"
        >Consulter</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    agenda: {
      type: Object,
      required: true,
    },
    owner: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    viewAgenda() {
      const today = new Date().toISOString().slice(0, 10);
      this.$router.push(`agendas/${this.agenda.id}/weeks/${today}`);
    },
  },
};
</script>
