<template>
  <v-row>
    <v-dialog v-model="dialog" persistent max-width="600px">
      <template v-slot:activator="{ on, attrs }">
        <v-btn color="white" v-bind="attrs" v-on="on">
          <slot></slot>
        </v-btn>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Ajouter un événement</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <image-picker-input @image-picked="imagePicked" />
              </v-col>
              <v-col cols="12" sm="6" md="8">
                <v-text-field
                  v-model="name"
                  label="Nom de l'événement*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <date-picker-input @date-picked="datePicked" text="Date*" />
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <time-picker-input
                  @time-picked="startTimePicked"
                  text="Heure de début*"
                />
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <time-picker-input
                  @time-picked="endTimePicked"
                  text="Heure de fin*"
                />
              </v-col>
              <v-col cols="12">
                <v-textarea
                  v-model="description"
                  outlined
                  label="Description"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
          <small>*indique les champs obligatoires</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialog = false">
            Fermer
          </v-btn>
          <v-btn color="blue darken-1" text @click="createEvent"> Créer </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import TimePickerInput from '~/components/TimePickerInput.vue';
import DatePickerInput from '~/components/DatePickerInput.vue';
import ImagePickerInput from '~/components/ImagePickerInput.vue';

export default {
  components: {
    TimePickerInput,
    DatePickerInput,
    ImagePickerInput,
  },
  data() {
    return {
      dialog: false,
      image: '',
      name: '',
      date: new Date().toISOString().substr(0, 10),
      startTime: '',
      endTime: '',
      description: '',
    };
  },
  methods: {
    datePicked(value) {
      this.date = value;
    },
    startTimePicked(value) {
      this.startTime = value;
    },
    endTimePicked(value) {
      this.endTime = value;
    },
    imagePicked(value) {
      this.image = value;
    },
    async createEvent() {
      try {
        const token = localStorage.getItem('user-token');
        const response = await this.$axios.$post(
          '/new-event',
          {
            agenda_id: this.$route.params.id,
            eveImgName: this.image,
            eveDate: this.date,
            eveStartTime: this.startTime,
            eveEndTime: this.endTime,
            eveName: this.name,
            eveDescription: this.description,
          },
          {
            headers: {
              Authorization: `Bearer ${token}`,
            },
          }
        );
        this.dialog = false;
        const event = response.data;
        console.log(response.data);
        this.$nuxt.$emit('event-created', event);
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
