<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="date"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="date"
        :label="text"
        prepend-icon="mdi-calendar"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      :first-day-of-week="1"
      locale="fr-ch"
      v-model="date"
      no-title
      scrollable
      @input="submit"
    ></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: {
    text: String,
  },
  data() {
    return {
      date: '',
      menu: false,
    };
  },
  methods: {
    submit() {
      this.$refs.menu.save(this.date);
      this.$emit('date-picked', this.date);
    },
  },
};
</script>
