<template>
  <div>
    <h3><slot></slot></h3>
    <v-row>
      <v-col cols="1" class="time-col">
        <table class="table">
          <tr
            v-for="time in times"
            :key="time"
            :height="timeHeightCss"
            class="time border-top"
          >
            {{
              time
            }}
          </tr>
        </table>
      </v-col>
      <v-col cols="11" class="padding">
        <v-card
          :color="color"
          :max-width="cardWidth"
          :min-height="cardHeight"
          outlined
        >
          <week-event
            v-for="event in events"
            v-on:event-deleted="eventDeleted(event)"
            :event="event"
            :cardHeight="cardHeight"
            :timeHeight="timeHeight"
            :key="event.id"
          />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import WeekEvent from './WeekEvent.vue';

export default {
  components: {
    WeekEvent,
  },
  props: {
    color: {
      type: String,
      default: 'red',
    },
    date: String,
    agendaId: Number,
    cardWidth: String,
    cardHeight: String,
  },
  created() {
    this.$nuxt.$on('event-created', (event) => {
      //const eventDate = new Date(this.$route.params.date)
      if (this.date != event.eveDate.slice(0, 10)) {
        return;
      }
      this.events.push(event);
    });
    this.getEvents();
  },
  data() {
    return {
      //color: 'red',
      events: '',
      times: [
        '6:00',
        '7:00',
        '8:00',
        '9:00',
        '10:00',
        '11:00',
        '12:00',
        '13:00',
        '14:00',
        '15:00',
        '16:00',
        '17:00',
        '18:00',
        '19:00',
        '20:00',
        '21:00',
      ],
    };
  },
  computed: {
    timeHeight() {
      const times = this.times.length;
      const cardHeightInt = parseInt(this.cardHeight.slice(0, -2));
      const height = cardHeightInt / (times - 1);
      return height;
    },
    timeHeightCss() {
      return `${this.timeHeight}px`;
    },
  },
  methods: {
    async getEvents() {
      const token = localStorage.getItem('user-token');

      const response = await this.$axios.get(
        `/events/${this.agendaId}/date/${this.date}`,
        {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        }
      );
      this.events = response.data.data;
    },
    eventDeleted(deletedEvent) {
      let i = 0;
      for (const weekEvent of this.events) {
        if (weekEvent.id == deletedEvent.id) {
          break;
        }
        i++;
      }
      this.events.splice(i, 1);
    },
  },
};
</script>

<style>
.time {
  vertical-align: text-bottom;
  text-align: right;
  font-size: 12px;
}

.spaced {
  margin-top: 10px;
  margin-left: 10px;
}

.padding {
  padding-left: 0%;
}

.time-col {
  padding-right: 0%;
}

.border-top {
  border-top: 1px solid black !important;
}

.table {
  border-collapse: collapse;
  float: right;
}
</style>
