<template>
  <div>
    <v-avatar size="150">
      <img alt="aucune image" :src="imageName" />
    </v-avatar>
    <v-menu
      ref="menu"
      v-model="menu"
      :close-on-content-click="false"
      :return-value.sync="imageName"
      transition="scale-transition"
      max-width="600px"
      :offset-y="true"
    >
      <template v-slot:activator="{ on, attrs }">
        <p prepend-icon="mdi-image" v-bind="attrs" v-on="on">
          choisir pictogramme
        </p>
      </template>
      <v-list scrollable>
        <v-row>
          <v-col
            cols="2"
            md="2"
            sm="2"
            xs="3"
            v-for="(image, index) in images"
            :key="index"
          >
            <v-list-item-avatar class="item-hover" size="50">
              <v-img
                @click="imageClicked(image.pathLong)"
                :src="image.pathLong"
              ></v-img>
            </v-list-item-avatar>
          </v-col>
        </v-row>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  props: {
    text: String,
  },
  data() {
    return {
      imageName: '/_nuxt/static/icons/default.png',
      menu: false,
      images: [],
    };
  },
  created() {
    this.importAll(require.context('/static/icons', false));
  },
  mounted() {
    this.$refs.menu.save(this.imageName);
    this.$emit('image-picked', this.imageName);
  },
  methods: {
    submit() {
      this.$refs.menu.save(this.imageName);
      this.$emit('image-picked', this.imageName);
    },
    importAll(r) {
      r.keys().forEach((key) =>
        this.images.push({ pathLong: r(key), pathShort: key })
      );
    },
    imageClicked(pathLong) {
      this.imageName = pathLong;
      this.$refs.menu.save(this.imageName);
      this.$emit('image-picked', this.imageName);
      this.menu = false;
    },
  },
};
</script>

<style>
.item-hover {
  cursor: pointer;
}
</style>
