<template>
  <v-card max-width="500" elevation="5">
    <v-card-title>Semaine {{ startDate }} à {{ endDate }}</v-card-title>
    <v-card-actions>
      <v-btn color="deep-purple lighten-2" text @click="viewWeek"
        >Consulter</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    startDate: {
      type: String,
      required: true,
    },
    endDate: {
      type: String,
      required: true,
    },
    agendaId: {
      type: String,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    viewWeek() {
      this.$router.push(`/agendas/${this.agendaId}/weeks/${this.startDate}`);
    },
  },
};
</script>
