<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    :return-value.sync="time"
    transition="scale-transition"
    offset-y
    max-width="290px"
    min-width="290px"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-text-field
        v-model="time"
        :label="text"
        prepend-icon="mdi-clock-time-four-outline"
        readonly
        v-bind="attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-time-picker
      v-if="menu"
      v-model="time"
      full-width
      format="24hr"
      @click:minute="submit"
    ></v-time-picker>
  </v-menu>
</template>

<script>
export default {
  props: {
    text: String,
  },
  data() {
    return {
      time: '',
      menu: false,
    };
  },
  methods: {
    submit() {
      this.$refs.menu.save(this.time);
      this.$emit('time-picked', this.time);
    },
  },
};
</script>
