<template>
  <v-card
    :height="height"
    width="100%"
    style="position: absolute"
    :style="{ top: top + '%' }"
    class="overflow"
    outlined
    tile
  >
    <v-card-text class="less-padding">
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <span class="cardOptions" v-bind="attrs" v-on="on">...</span>
        </template>
        <v-list>
          <v-list-item @click="viewEvent()">Détails</v-list-item>
          <v-list-item @click="deleteEvent()">Supprimer</v-list-item>
        </v-list>
      </v-menu>
      <v-avatar size="45">
        <img alt="image" :src="event.eveImgName" />
      </v-avatar>
      <span>{{ event.eveName }}</span
      ><br />
      <span class="small"
        >{{ event.eveStartTime }} - {{ event.eveEndTime }}</span
      >
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  components: {},
  props: {
    event: {
      type: Object,
      required: true,
    },
    cardHeight: {
      type: String,
      required: true,
    },
    timeHeight: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      height: '',
      top: '',
    };
  },
  created() {
    const date = new Date(this.event.eveDate).toISOString().slice(0, 10);
    const dateEnd = new Date(
      `${date}T${this.event.eveEndTime.replace('-', ':')}`
    );
    const dateStart = new Date(
      `${date}T${this.event.eveStartTime.replace('-', ':')}`
    );

    const diff = Math.round((dateEnd.getTime() - dateStart.getTime()) / 60000);
    const percent = (diff * 100) / 900; // 900 = diff 21h et 6h en minutes
    this.height = `${percent}%`;

    const cardHeightInt = parseInt(this.cardHeight.slice(0, -2));
    const startTimeMinutes = this.getTimeMinutes(this.event.eveStartTime);
    const timePercent = (this.timeHeight * 100) / cardHeightInt;
    const relativeStartTime = startTimeMinutes - 360; // 360 = 6h en minutes
    this.top = (relativeStartTime * timePercent) / 60;
  },
  computed: {},
  methods: {
    getTimeMinutes(time) {
      const numbers = time.split(':');
      const minutes = parseInt(numbers[1]) + parseInt(numbers[0]) * 60;
      return minutes;
    },
    viewEvent() {
      this.$router.push(`/agendas/${this.event.agenda_id}/${this.event.id}`);
    },
    async deleteEvent() {
      const token = localStorage.getItem('user-token');
      const response = await this.$axios.$delete(
        `/events/delete/${this.event.id}`,
        {
          headers: {
            Authorization: `Bearer ${token}`,
          },
        }
      );
      this.$emit('event-deleted', this.event);
    },
  },
};
</script>

<style>
.less-padding {
  padding: 4px !important;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardOptions {
  float: right;
  cursor: pointer;
}

.small {
  font-size: 10px;
}
</style>
