<template>
  <v-card max-width="250" max-height="250" elevation="5">
    <v-card-title>{{ monthName }}</v-card-title>
    <v-card-actions>
      <v-btn color="deep-purple lighten-2" text @click="viewMonth"
        >Consulter</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    agendaId: {
      type: String,
      required: true,
    },
    monthName: {
      type: String,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    viewMonth() {
      this.$router.push(`/agendas/${this.agendaId}/months/${this.date}`);
    },
  },
};
</script>
