<template>
  <div>
    <v-container fluid style="width: 95%">
      <day
        :date="this.$route.params.date"
        :agendaId="parseInt(this.$route.params.id)"
        cardWidth="1000px"
        cardHeight="1200px"
        color="blue lighten-5"
        >{{ this.$route.params.date }}</day
      >
    </v-container>
  </div>
</template>

<script>
import Day from '~/components/Day.vue';

export default {
  components: {
    Day,
  },
  data() {
    return {};
  },
  created() {},
  computed: {},
  methods: {},
};
</script>
