<template>
  <div>
    <v-container fluid style="width: 95%">
      <v-breadcrumbs :items="breadcrumbItems"></v-breadcrumbs>
      <create-event-form class="spaced">Ajouter un événement</create-event-form>
      <v-row>
        <v-col cols="6">
          <v-btn @click="incrementDate(-7)" class="ma-2" color="blue" dark>
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="6" class="text-right">
          <v-btn @click="incrementDate(7)" class="ma-2" color="blue" dark>
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row justify="center" align="center">
        <v-col cols="1.5">
          <day
            :date="dayDates[1]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="red lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[1]}`"
              >Lundi {{ dayDates[1] }}</NuxtLink
            ></day
          >
        </v-col>
        <v-col cols="1.5">
          <day
            :date="dayDates[2]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="orange lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[2]}`"
              >Mardi {{ dayDates[2] }}</NuxtLink
            ></day
          >
        </v-col>
        <v-col cols="1.5">
          <day
            :date="dayDates[3]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="yellow lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[3]}`"
              >Mercredi {{ dayDates[3] }}</NuxtLink
            ></day
          >
        </v-col>
        <v-col cols="1.5">
          <day
            :date="dayDates[4]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="green lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[4]}`"
              >Jeudi {{ dayDates[4] }}</NuxtLink
            ></day
          >
        </v-col>
        <v-col cols="1.5">
          <day
            :date="dayDates[5]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="blue lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[5]}`"
              >Vendredi {{ dayDates[5] }}</NuxtLink
            ></day
          >
        </v-col>
        <v-col cols="1.5">
          <day
            :date="dayDates[6]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="purple lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[6]}`"
              >Samedi {{ dayDates[6] }}</NuxtLink
            ></day
          >
        </v-col>
        <v-col cols="1.5">
          <day
            :date="dayDates[7]"
            :agendaId="parseInt(this.$route.params.id)"
            cardWidth="200px"
            cardHeight="800px"
            color="pink lighten-5"
            ><NuxtLink
              :to="`/agendas/${this.$route.params.id}/days/${dayDates[7]}`"
              >Dimanche {{ dayDates[7] }}</NuxtLink
            ></day
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import Day from '~/components/Day.vue';
import CreateEventForm from '~/components/CreateEventForm.vue';

export default {
  components: {
    Day,
    CreateEventForm,
  },
  data() {
    return {
      dayDates: [],
      breadcrumbItems: [],
    };
  },
  created() {
    this.getWeekDays();
    this.iniBreadcrumb();
  },
  computed: {},
  methods: {
    iniBreadcrumb() {
      const date = new Date(this.$route.params.date);
      const year = this.$route.params.date.split('-')[0];
      const month = date.getMonth();
      let monthName = '';
      switch (month) {
        case 0:
          monthName = 'Janvier';
          break;
        case 1:
          monthName = 'Février';
          break;
        case 2:
          monthName = 'Mars';
          break;
        case 3:
          monthName = 'Avril';
          break;
        case 4:
          monthName = 'Mai';
          break;
        case 5:
          monthName = 'Juin';
          break;
        case 6:
          monthName = 'Juillet';
          break;
        case 7:
          monthName = 'Août';
          break;
        case 8:
          monthName = 'Septembre';
          break;
        case 9:
          monthName = 'Octobre';
          break;
        case 10:
          monthName = 'Novembre';
          break;
        case 11:
          monthName = 'Décembre';
          break;
      }
      this.breadcrumbItems[0] = {
        text: year,
        disabled: false,
        href: `/agendas/${this.$route.params.id}/years/${this.$route.params.date}`,
      };

      this.breadcrumbItems[1] = {
        text: monthName,
        disabled: false,
        href: `/agendas/${this.$route.params.id}/months/${this.$route.params.date}`,
      };

      this.breadcrumbItems[2] = {
        text: `semaine ${this.dayDates[1]} - ${this.dayDates[7]}`,
        disabled: true,
        href: `/agendas/${this.$route.params.id}/weeks/${this.$route.params.date}`,
      };
    },
    getWeekDays() {
      Date.prototype.addDays = function (days) {
        const date = new Date(this.valueOf());
        date.setDate(date.getDate() + days);
        return date;
      };

      const date = new Date(this.$route.params.date);
      let number = date.getDay();
      if (number == 0) {
        number = 7;
      }

      this.dayDates[number] = date.toISOString().slice(0, 10);
      for (let i = number - 1; i >= 1; --i) {
        this.dayDates[i] = date
          .addDays(i - number)
          .toISOString()
          .slice(0, 10);
      }

      for (let i = number + 1; i < 8; ++i) {
        this.dayDates[i] = date
          .addDays(i - number)
          .toISOString()
          .slice(0, 10);
      }
    },
    incrementDate(amount) {
      let date = new Date(this.$route.params.date);
      date = date.addDays(amount);
      this.$router.push(`${date.toISOString().slice(0, 10)}`);
    },
  },
};
</script>
