<template>
  <v-app>
    <v-app-bar fixed app>
      <v-toolbar-title v-text="title" />
      <v-btn @click="home" plain color="blue">Accueil</v-btn>
      <v-btn v-if="userLogged" plain color="blue">Mon agenda</v-btn>
      <v-spacer></v-spacer>
      <v-btn v-if="userLogged" @click="logout" color="red" plain
        >Déconnecter</v-btn
      >
      <v-btn v-if="!userLogged" @click="login" color="blue" plain
        >Se connecter</v-btn
      >
      <v-btn v-if="!userLogged" @click="createAccount" color="blue" plain
        >Créer un compte</v-btn
      >
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      userLogged: this.userIsConnected(),
      fixed: false,
      title: 'Picture Planning',
    };
  },
  created() {
    this.$nuxt.$on('user-logged', () => {
      this.userLogged = this.userIsConnected();
    });
  },
  methods: {
    userIsConnected() {
      const token = localStorage.getItem('user-token');

      return !!token;
    },
    logout() {
      localStorage.removeItem('user-token');
      this.userLogged = this.userIsConnected();
      this.$router.push('/login');
    },
    login() {
      this.$router.push('/login');
    },
    createAccount() {
      this.$router.push('/signup');
    },
    home() {
      this.$router.push('/');
    },
  },
};
</script>
