<template>
  <div>
    <v-container fluid style="width: 95%">
      <v-breadcrumbs :items="breadcrumbItems"></v-breadcrumbs>
      <h1>{{ year }}</h1>
      <v-row>
        <v-col cols="6">
          <v-btn @click="incrementYear(-1)" class="ma-2" color="blue" dark>
            <v-icon>mdi-arrow-left</v-icon>
          </v-btn>
        </v-col>
        <v-col cols="6" class="text-right">
          <v-btn @click="incrementYear(1)" class="ma-2" color="blue" dark>
            <v-icon>mdi-arrow-right</v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Janvier"
            :date="year.concat('-01', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Février"
            :date="year.concat('-02', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Mars"
            :date="year.concat('-03', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Avril"
            :date="year.concat('-04', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Mai"
            :date="year.concat('-05', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Juin"
            :date="year.concat('-06', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Juillet"
            :date="year.concat('-07', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Août"
            :date="year.concat('-08', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Septembre"
            :date="year.concat('-09', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Octobre"
            :date="year.concat('-10', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Novembre"
            :date="year.concat('-11', '-01')"
          />
        </v-col>
        <v-col cols="6" md="3" sm="6">
          <year-month
            :agendaId="$route.params.id"
            monthName="Décembre"
            :date="year.concat('-12', '-01')"
          />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import YearMonth from '~/components/YearMonth.vue';

export default {
  components: {
    YearMonth,
  },
  data() {
    return {
      year: '',
      breadcrumbItems: [],
    };
  },
  created() {
    const date = this.$route.params.date;
    this.year = date.split('-')[0];
    this.iniBreadcrumb();
  },
  computed: {},
  methods: {
    iniBreadcrumb() {
      this.breadcrumbItems[0] = {
        text: this.year,
        disabled: true,
        href: `/agendas/${this.$route.params.id}/years/${this.$route.params.date}`,
      };
    },
    incrementYear(amount) {
      let yearInt = parseInt(this.year);
      yearInt += amount;
      this.$router.push(`${yearInt}-01-01`);
    },
  },
};
</script>

<style>
.month-week {
  margin: 15px;
}
</style>
