<template>
  <div>
    <v-row justify="center" align="center">
      <!--<v-col cols="12">
        <div>
          <create-event-form />
        </div>
      </v-col>-->
      <v-col cols="12">
        <div>
          <agendas-list v-if="userConnected" />
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import AgendasList from '~/components/AgendasList.vue';
import CreateEventForm from '~/components/CreateEventForm.vue';

export default {
  components: {
    CreateEventForm,
    AgendasList,
  },
  data() {
    return {
      user: '',
    };
  },
  computed: {
    userConnected() {
      const token = localStorage.getItem('user-token');
      return !!token;
    },
  },
  methods: {
    async fetchAuthenticatedUser() {
      const token = localStorage.getItem('user-token');

      const response = await this.$axios.get('/me', {
        headers: {
          Authorization: `Bearer ${token}`,
        },
      });
      this.user = response.data.data;
    },
  },
};
</script>
