<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div>
        <form novalidate @submit.prevent="login">
          <h1>Se connecter</h1>
          <v-text-field v-model="email" label="E-mail"></v-text-field>
          <v-text-field
            type="password"
            v-model="password"
            label="Mot de passe"
          ></v-text-field>

          <!--<v-btn class="mr-4" @click="submit"> Créer </v-btn>-->
          <v-btn type="submit" class="mr-4"> Connecter </v-btn>
        </form>
      </div>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data: () => ({
    email: '',
    password: '',
  }),

  beforeRouteEnter(to, from, next) {
    const token = localStorage.getItem('user-token');

    return token ? next('/') : next();
  },

  methods: {
    async login() {
      try {
        const response = await this.$axios.$post('/login', {
          email: this.email,
          password: this.password,
        });
        localStorage.setItem('user-token', response.data.token);
        this.$nuxt.$emit('user-logged');
        this.$router.push('/');
        /*const response = await this.$axios.$get('/');
        console.log(response.greeting);*/
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
