<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div>
        <form novalidate @submit.prevent="signup">
          <h1>Créer un compte</h1>
          <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            label="Prénom"
            required
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="surname"
            :error-messages="surnameErrors"
            label="Nom"
            required
            @input="$v.surname.$touch()"
            @blur="$v.surname.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="email"
            :error-messages="emailErrors"
            label="E-mail"
            required
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
          ></v-text-field>
          <v-text-field
            v-model="username"
            :error-messages="usernameErrors"
            label="Pseudo"
            required
            @input="$v.username.$touch()"
            @blur="$v.username.$touch()"
          ></v-text-field>
          <v-text-field
            type="password"
            v-model="password"
            :error-messages="passwordErrors"
            label="Mot de passe"
            required
            @input="$v.password.$touch()"
            @blur="$v.password.$touch()"
          ></v-text-field>
          <v-text-field
            type="password"
            v-model="repeatPassword"
            :error-messages="repeatPasswordError"
            label="Confirmation du mot de passe"
            required
            @input="$v.repeatPassword.$touch()"
            @blur="$v.repeatPassword.$touch()"
          ></v-text-field>

          <!--<v-btn class="mr-4" @click="submit"> Créer </v-btn>-->
          <v-btn type="submit" class="mr-4"> Créer </v-btn>
        </form>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import { validationMixin } from 'vuelidate';
import { required, sameAs, minLength, email } from 'vuelidate/lib/validators';

export default {
  mixins: [validationMixin],

  validations: {
    name: { required },
    surname: { required },
    email: { required, email },
    username: { required },
    password: { required, minLength: minLength(6) },
    repeatPassword: { required, sameAsPassword: sameAs('password') },
  },

  data: () => ({
    name: '',
    surname: '',
    email: '',
    username: '',
    password: '',
    repeatPassword: '',
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push('Le prénom est requis');
      return errors;
    },
    surnameErrors() {
      const errors = [];
      if (!this.$v.surname.$dirty) return errors;
      !this.$v.surname.required && errors.push('Le nom est requis');
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("l'adresse email doit être valide");
      !this.$v.email.required && errors.push("L'email est requis");
      return errors;
    },
    usernameErrors() {
      const errors = [];
      if (!this.$v.username.$dirty) return errors;
      !this.$v.username.required && errors.push('Le pseudo est requis');
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength &&
        errors.push('Le mot de passe doit faire au minimum 6 caractères');
      !this.$v.password.required && errors.push('Le mot de passe est requis');
      return errors;
    },
    repeatPasswordError() {
      const errors = [];
      if (!this.$v.repeatPassword.$dirty) return errors;
      !this.$v.repeatPassword.sameAsPassword &&
        errors.push('Les mots de passe doivent être identiques');
      !this.$v.repeatPassword.required &&
        errors.push('La confirmation du mot de passe est requise');
      return errors;
    },
  },

  beforeRouteEnter(to, from, next) {
    const token = localStorage.getItem('user-token');

    return token ? next('/') : next();
  },

  methods: {
    submit() {
      this.$v.$touch();
    },

    async signup() {
      this.$v.$touch();
      if (this.$v.$anyError) {
        return;
      }
      try {
        const response = await this.$axios.$post('/signup', {
          useName: this.name,
          useSurname: this.surname,
          useUsername: this.username,
          email: this.email,
          password: this.password,
        });
        localStorage.setItem('user-token', response.data.token);
        this.$nuxt.$emit('user-logged');
        this.$router.push('/');
      } catch (error) {
        console.log(error);
      }
    },
  },
};
</script>
